{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1 class="my-5">Bonjour

        {% if is_granted('ROLE_ADMIN') %}
        {{ user.firstname }}
        {% else %}
		{{ user.firstname }}
		{{ user.lastname }}
        {% endif %}
        

	<div class="row my-5 justify-content-around">

        <button class="col-3 btn btn-success"><a class="h2 text-decoration-none link-light" href="">Détail</a></button>

        {% if is_granted('ROLE_ADMIN') %}
        <button class="col-3 btn btn-primary"><a class="h2 text-decoration-none link-light" href="">Administration</a></button>
        {% endif %}

	</div>


{% endblock %}
